@font-face {
  font-family: "Futura";
  src: url("futura-std-medium-condensed.ttf") format("truetype");
}

@font-face {
  font-family: "Impact";
  src: url("impact.ttf") format("truetype");
}

:root {
  --main-green: #c0ef27;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--main-green);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "Impact", sans-serif;
  max-width: 1280px;
  padding: 1rem 2rem;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  display: flex;
}

header .instagram-icon {
  height: 39px;
  margin-top: -2px;
}

#explain {
  margin: 4rem 150px;
}

#explain h2 {
  font-size: 48px;
  max-width: 450px;
}

#event-details {
  display: flex;
}

#event-details div {
  display: flex;
  align-items: center;
  font-family: "Futura", sans-serif;
  font-size: 32px;
  border: 1px solid black;
  border-right: none;
  padding: 10px;
}

#event-details div:last-child {
  border-right: 1px solid black;
}

#event-details #address {
  flex: 1;
}

#event-details .internet-icon {
  height: 32px;
}

#event-details .important-link {
  text-decoration: none;
  font-family: impact;
  color: black;
}

#event-details .important-link:hover {
  text-decoration: underline;
}

#main-image-box {
  margin-top: 1rem;
  max-width: 100%;
}

#main-image-box img {
  width: 100%;
}

#v-image {
  display: none;
}

footer {
  text-align: center;
  padding: 2rem 0rem 1rem;
}

footer #email {
  text-decoration: none;
  font-family: "Futura", sans-serif;
  color: black;
  font-size: 24px;
}

footer #email:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  header .instagram-icon {
    height: auto;
    margin-top: -2px;
  }

  #h-image {
    display: none;
  }

  #v-image {
    display: block;
  }

  #explain {
    margin: 0;
  }

  #explain h2 {
    font-size: 42px;
    max-width: 400px;
    padding: 1rem 1rem 1rem 2rem;
  }

  #event-details div {
    padding: 5px;
    font-size: 20px;
  }

  #event-details .internet-icon {
    height: 20px;
  }

  footer {
    padding: 1rem;
  }

  footer #email {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  #event-details div#internet-icon-box {
    display: none;
  }

  #explain h2 {
    font-size: 26px;
    max-width: 250px;
    padding: 1rem 1rem 1rem 2rem;
  }

  #event-details div {
    font-size: 14px;
  }

  footer #email {
    font-size: 12px;
  }
}
